{
  "plugins": [
      [
          "module-resolver",
          {
              "cwd": "babelrc",                
              "alias": {
                  "Components": "./app/src/components"
              }
          }
      ]
  ],
  "presets": [
      "react-app"
  ]
}